*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: normal 1.5em Arial, Helvetica, sans-serif;
  --bg: lightgray;
  --low: cyan;
  --medium: rgb(0, 255, 0);
  --high: rgb(255, 230, 0);
  --extreme: rgb(255, 94, 0);
}

body {
  font: var(--font);
  background-color: var(--bg);
}

.form-control {
  margin: auto;
  width: 80%;
  padding: 50px;
}

.config {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}

.config div {
  padding: 5px;
}

.config legend {
  font-size: 1.2em;
  font-weight: italic;
}

.config label {
  font-size: 0.8em;
}

.config input[type="number"] {
  width: 10%;
}

.config select {
  width: 25%;
}

.config input[type="submit"] {
  width: 20%;
  background: rgb(88, 88, 245);
  color: white;
  border-radius: 5px;
  border: none;
}

.comment {
  color: gray;
  font-size: 0.65em;
  opacity: 0.8;
}

.underline {
  border: 3px solid rgb(56, 42, 42);
  display: none;
}

.content-list {
  display: flex;
  justify-content: center;
}

.list-item {
  list-style: none;
  margin: 0.5em;
  padding: 5px 2px;
  border: 2px inset white;
  min-height: 20px;
  height: auto;
  width: 1.3em;
  color: black;
}

@keyframes comparing {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2) translate(0px, 50px);
    width: 4.5%;
  }
}

.active-list-item {
  animation: 0.5s linear 1 normal comparing;
  animation-fill-mode: forwards;
  border: 2px outset white;
}
